/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
button,
input,
select,
textarea,
form,
label,
article,
section,
nav,
aside,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Apply a natural box layout model to all elements, but allowing components to change it as needed. */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Form Elements */
button,
input,
select,
textarea {
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
